@font-face{
    font-family: fonte1;
    src:url("../VCR_OSD_MONO_1.001.ttf")
}
body{
    background: url('../img/neve.gif');
    margin: 0;
    padding: 0;
}
#logo{
    position: relative;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    left: 31%;
    background-color: #cecece;
}
#menu{
    border:1px solid black;
    border-radius: 20px;
    margin: 10%;
    margin-top: 0%;
    margin-bottom:10%;
    background-color: #cecece;
    padding-bottom: 10%;

}
#mao1{
  position: relative;  
  width: 55%;
  left: 10%;
  margin-top:20%;
  margin-left: -10%;
}
#mao2{
    position: relative;  
    width: 45%;
    left: 10%;
    bottom: 20%;
}


#botao{   
    position: relative;
    left: 80%;
    width: 15%;
    border: 1px solid black;
    border-radius: 10px;
    font-family: fonte1;
}


@media screen and (min-width: 783px){
    #logo{
        position: relative;
        width: 25%;
        border: 1px solid black;
        border-radius: 10px;
        left: 37%;
        background-color: #cecece;
    }

    #menu{
        position: relative;
        border:1px solid black;
        width:30%;
        margin-bottom: 0;
        padding-bottom:2%;
        padding-left: 10%;
        padding-right: 10%;
        left: 15%;
    
    }
    #mao1{
        position: relative;  
        width: 55%;
        left: 10%;
        margin-top:20%;
        margin-left: -25%;
      }
      #mao2{
        position: relative;  
        width: 45%;
        left: 40%;
        bottom: 20%;
    }
    
}
@media screen and (min-width: 320px){
    #botao{
    padding:2%;
    }
}




